@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
  color: white !important;
}
::-webkit-scrollbar{
  background-color: #171717;
  width: 15px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(78, 74, 74);
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: poppins;
}
a,p,li,h1,h2,h3,h4,h5,h6,span{
  color: white !important;
}
